<div class="container mt-5" style="width: 600px;">
  <ul class="list-group">
  <div class="alert alert-danger" role="alert">
    <%= @error %></li>
  </div> 
  <a href="/" class="btn btn-link" role="button" aria-pressed="true">Voltar</a>
  </ul>
</div>