<div class="container mt-5" style="width: 600px;">
  <div class="card bg-light">
    <div class="card-header">
      Mars Surface
    </div>
    <div class="card-body">
      <h5 class="card-title">Importar arquivo com instruções</h5>
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="form-control-file" id="file" name="file">
          </div>
          <div class="input-group-append">
            <input type="submit" class="input-group-text"></input>
          </div>
        </div>
    </div>
  </div>
</div>
